@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --white : #ffffff;
  --darkgrey : #373b44;
  --lightgrey: #D3D3D3;
  --lightblue : #4286f4;
}

* {
    padding : 0;
    margin : 0;
    font-family: "Varela Round";
    font-weight: bolder;
}

body{
    width: 100%;
    height : 100vh;
    background: linear-gradient(to right, #373b44, #4286f4, #373b44);
    /* background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-container {
    padding : 20px 0px;
    /* background-color: #373b44; */
    width : 100%;
    height : 80%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    /* gap : 250px; */
    font-family: "Varela Round";
}

.header {
    width: 100%;
    position: fixed;
    top: 40px;
    text-align: center;
    font-size: 40px;
    color : #24243e;
    /* background: -webkit-linear-gradient(right,#0f0c29, #302b63, #24243e);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
    /* background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); */
    /* text-shadow: 2px 2px 20px var(--darkblue); */
}

#todo-icon{
    /* width: fit-content; */
    position: fixed;
    top: 42px;
    background-color: inherit;
    /* align-self: center; */
    font-size: 40px;
    color : #24243e;
    /* margin-right: 10px; */
}

.add-task-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* gap : 10px; */
    position: fixed;
    top: 130px;
}

input.task-field {
    width : 30%;
    font-size: 15px;
    padding: 10px 7px;
    border-radius: 5px;
    /* box-shadow: none; */
    border-style: none;
    /* background-color: var(--darkblue); */
    color:var(--darkgrey);
    min-width: 300px;
}

.btn {
    padding: 10px 20px;
    border-radius: 15px;
    border-style: none;
    /* background-color: var(--darkblue); */
    background: var(--darkgrey);
    color: var(--white);
    margin-left: 10px;
}

.task-field:focus {
    outline: none;
}

.task-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    width: 100%;
}

.task-div {
    background-color: var(--white);
    /* padding : 20px ; */
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 350px;
}

.date-item {
    position: absolute;
    top: -25px;
    background-color: var(--darkgrey);
    /* background : linear-gradient(to left, #1a2a6c, #b21f1f, #fdbb2d); */
    color: var(--white);
    padding : 5px;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    z-index: -1;
}

.task-main-container {
    /* background-color: aqua; */
    margin : 30px 20px;
    width: fit-content;
    max-height: 210px;
    overflow: auto;
}

/* .task-main-container .taskItems-container:nth-child(even){
   background-color: var(--lightgrey);
} */

.action-items {
    display: inline-block;
    /* width: 30%; */
   
}
.action-items > button  {
    border-style: none;
    margin : 0 2px;
    background-color: inherit;
    
}

.action-items > input[type="checkbox"] {
     margin : 5px;
     accent-color: var(--darkgrey);
     width : 15px;
     height: 15px;
}
.material-symbols-outlined {
    font-size: 18px;
    padding:2px;
    background: var(--white);
    /* background-color: #373b44;
    color : var(--white) */
}



.material-symbols-outlined:hover {
    /* transform: scale(1.2);
    background-color: var(--darkgrey);
    color:var(--white);
    border-radius: 5px; */
    
}

.btn-highlight {
    transform: scale(1.2);
    background-color: var(--darkgrey);
    color:var(--white);
    border-radius: 5px;
}

/*
.update {
    position: relative;
}

 .update-tooltip{
    position: absolute;
    top:-25px;
    left: -4px;
    width: fit-content;
    padding: 2px;
    background-color: var(--darkgrey);
    z-index: 10;
} */

.taskItems-container {
    margin : 20px;
    /* position:relative; */
    border-bottom: 1px solid var(--lightgrey);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}



.taskItems-container::before {
    /* content: "";
    position: absolute;
    top:60%;
    left : -5%;
    width : 6px;
    height: 2px;
    background-color: var(--lightblue); */
}


.taskItems-container > input[type="text"]
{
    font-size: 15px;
    padding : 2px;
    border-style: none;
    color: var(--darkgrey);
    font-weight: bolder;
    /* width : 60%; */
}

.taskItems-container > input[type="text"]:focus {
    outline: none;
}

.edit-state {

    transform:scale(1);
    background-color: var(--lightgrey);
    /* background-color: #24243e; */
}

.task-done {

    opacity: 0.5;
    text-decoration: line-through;
    
}
